version: "0.3.0-pre.3"
entryPoint: "cornerstone"
dependencies:
  bindable: "distri/bindable:v0.1.0"
  extensions: "distri/extensions:v0.2.0"
  inflector: "distri/inflector:v0.2.1"
  math: "distri/math:v0.2.6-pre.0"
  model: "distri/model:v0.2.0-pre.2"
  util: "distri/util:v0.1.0"
