version: "0.2.3-pre.0"
entryPoint: "cornerstone"
dependencies:
  core: "distri/core:v0.6.0"
  extensions: "distri/extensions:v0.2.0"
  math: "distri/math:v0.2.0"
  model: "distri/model:v0.1.3"
  observable: "distri/observable:v0.3.1"
  util: "distri/util:v0.1.0"
