version: "0.2.7"
entryPoint: "cornerstone"
dependencies:
  bindable: "distri/bindable:v0.1.0"
  core: "distri/core:v0.6.0"
  extensions: "distri/extensions:v0.2.0"
  inflector: "distri/inflector:v0.2.1"
  math: "distri/math:v0.2.1"
  model: "distri/model:v0.1.3"
  observable: "distri/observable:v0.3.1"
  q: "distri/q:v1.0.1"
  util: "distri/util:v0.1.0"
